extends layout

block content
        div(class='tc f1')
                a(class='center db ba w-75 pa5 mt4 bg-navy light-blue no-underline',href='/dog')
                        div FOO
                a(class='center db ba w-75 pa5 ma5 bg-navy light-blue no-underline',href='/dog')
                        div FOO
                a(class='center db ba w-75 pa5 ma5 bg-navy light-blue no-underline',href='/dog')
                        div FOO
                a(class='center db ba w-75 pa5 ma5 bg-navy light-blue no-underline',href='/dog')
                        div FOO
                a(class='center db ba w-75 pa5 ma5 bg-navy light-blue no-underline',href='/dog')
                        div FOO
