doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/normalize.css')
    link(rel='stylesheet', href='/tachyons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class='navy bg-light-blue helvetica')
    block content
